* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  background-color: lightblue;
  font-size: 18px;
  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.menu {
  list-style-type: none;
  background-color: #000000;
  padding: 18px;
}

.menu-item {
  display: inline;
  background-color: #41df5c;
  padding: 19px;
}

.menu-item-link {
  color: #000000;
}

.menu-item:hover {
  background-color: #999999;
}

.page {
  margin-left: 50px;
  margin-right: 50px;
}

.title-header{
  border-bottom: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0;
}

.subsection {
  background-color: #EEEEEEC9;
  padding: 20px;
  margin-top: 20px;
}

div {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

ul {
  padding-left: 30px;
}
